* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.etsyTitle {
    color: rgb(241, 101, 32);
    font-size: 40px;
    font-weight: 300;
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 16px;
}

li {
    list-style: none
}

.navBar {
    padding-top: 5px;
}


.navBarTop {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.input-container {
    width: 75%;
    margin-right: 100px;
}

.input {
    width: 107%;
    height: 45px;
    border-radius: 40px;
    margin-top: 5px;
    
}

.inOut {
    display: flex;
    margin-right: 40px;
    margin-top: 10px;

}

.signIn {
    margin-top: 10px;
    margin-right: 10px;
}

.navBar2 {
    display: flex;
    align-items: center;
    width: 100%;
}

.topBar {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    width: 98%;
}

.navTypeButtons {
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
    padding: 6px;
    height: 60px;
}

.navTypeButtons li {
    background-color: #F99368;
    padding: 5px;
    margin: 5px;
    border-radius: 40px;
}

.container {
    margin: 0 auto;
    width: 76%;
}

#grid {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 15px;
    margin-right: 30px;
    justify-content: space-between;
    
}

.product-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-img {
    background-size: cover;
    height: 220px;
    width: 100%;
}

.product {
    width: calc(25% - 16px);
    margin-bottom: 16px;
}

.main {
    display: flex;
    margin-top: 20px;
}

.sideBox {
    padding-left: 17px;
    margin-top: 10px;
}

.sideBoxFontHead {
    margin-bottom: 10px;
    margin-top: 10px;
}

.box li {
    margin-top: 5px;
    margin-left: 20px;
    padding-bottom: 5px;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}

.signIn {
    margin-right: 10px;
}

.circle img {
    height: 20px;
    position: relative;
    top: 5px;
    left: 5px;

}

.circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    display: none;
    right: 8px;
    top: 8px;
}

.product:hover .circle {
    display: block;
}

/* ////// hover box css ////// */